li {
  list-style: none;
}
a {
  text-decoration: none;
}
.banner {
  height: 330px;
  width: 1100px;
  border: solid black 1px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}
.banner img {
  width: 100%;
}
.pricing {
  width: 255px;
  height: 475px;
  border: solid black 1px;
  text-align:center;
  color: white;
  vertical-align: top;
  float: left;
  margin-left: 15px;
}
.heading {
  height: 175px;
}
.green {
  background-color: rgb(81, 146, 81);
}
.blue {
  background-color: rgb(45, 72, 133);
}
.black {
  background-color: black;
}
.amt {
  font-size: 78px;
}
.tlsd {
  color: lightgrey;
}
.left {
  margin-left: 135px;
}
.pricing li {
  color: black;
  list-style: none;
  text-align: center;
  background-color: lightgrey;
  border-bottom: solid darkgrey 1px;
}
.pricing ul {
  padding: 0px;
  margin: 0px;
  line-height: 30px;
}